.App {
  font-family: sans-serif;
  margin: 20px;
}

.App div.container {
  width: 700px;
}

.Weather form {
  text-align: left;
}
.Weather .form input {
  border-radius: 25px;
  border: none;
  height: 50px;
}
.Weather .form input[type="submit"] {
  background-color: #bcdbdf;
  font-weight: bold;
}
.Weather .form input[type="button"] {
  background-color: #bcdbdf;
  font-weight: bold;
}

.WeatherTemperature a {
  text-decoration: none;
  color: #bbe4e9;
}
a.code-link {
  text-decoration: none;
  color: #ef5f9a;
}
footer {
  text-align: center;
  font-size: small;
}

li {
  list-style: none;
}

ul {
  padding-left: 0 !important;
}

.unit {
  font-size: 25px;
  font-weight: bold;
}
.wind,
.pressure,
.humidity {
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
}
.weather-comment {
  font-weight: bolder;
  font-size: 20px;
  text-transform: capitalize;
  text-align: left;
}
.city {
  font-size: 25px;
  font-weight: bold;
}
.temperature {
  font-size: 35px;
}

.previsions {
  font-weight: bold;
  font-size: 23px;
  padding-top: 20px;
  text-align: center;
  line-height: 45px;
}
.previsions-temperature-min {
  opacity: 0.7;
}

#current-temperature {
  font-weight: bold;
}

#city-search {
  text-indent: 15px;
  width: 65%;
}
#input-city:hover {
  background: white;
  color: #769cda;
}
#input-city {
  transition: all 150ms ease-in-out;
  height: 50px;
  width: 100px;
}
#current-location:hover {
  background: white;
  color: #769cda;
}
#current-location {
  transition: all 150ms ease-in-out;
  height: 50px;
  width: 100px;
}
#current-date,
#current-time {
  font-size: 25px;
  color: #606470;
}

#date-greeting {
  clear: both;
}
